/* 设置背景图片 */
body {
  background-image: url("https://t.mwm.moe/ycy/");
  background-attachment: fixed;
  background-size: cover;  
}

/* background-image: url("https://t.mwm.moe/ycy/"); */
/* background-image: url("https://www.dmoe.cc/random.php"); */
/* background: url("https://api.paugram.com/wallpaper/") center/cover no-repeat; */
/* background-image: url("https://api.hanximeng.com/ranimg/api.php"); */