@font-face {
  font-family: 'CheeseFont';
  src: url('https://public.ch.files.1drv.com/y4m0HGNqcgWCdnYvN3_mUZ9HtGmH0_ual5QpWxw6b2tmczp2saaFZobZEGJaLklxC1q_ThMMQ8ViuIbl0lMWroBWzS4c6xTu7GTAY0osoJAvfBE2n476j_zE0gGXJejrRz9nmfHwuRab1VYuN_uQDvubOcM7hg7BrAXrt7R7435F8_v_fSKinWKIWL60JUdTjjBFw1UIU65FMkCkn7XXceNrFKndkcAj3z5qqpYTR72v_c?AVOverride=1') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*
body {
    font-family: 'CheeseFont'; 
    font-size: 16px;
}
*/